In [1]:
! pip install pymongo

Requirement already satisfied: pymongo in c:\users\admin\anaconda3\lib\site-packages (3.11.4)

In [3]:
import pymongo

try:
    username = "id125"
    password = "pw125"
    host = "1.234.5.158"
    port = 37017
    dbname = "id125"
    
    # mongodb접속
    conn = pymongo.MongoClient(f'mongodb://{username}:{password}@{host}:{port}/{dbname}')
    db = conn.get_database(dbname)
    collection = db.get_collection("ex1_20210520")  #table과 같은 개념
    
    # 딕셔너리 타입으로 1개
    data = {"id":"aaa", "name":"가나다", "age":12}
    
    # 1개 추가하기
    collection.insert_one(data)
    
    # 여러개    
    data1 = [{"id":"aaa", "name":"가다라", "age":22},
             {"id":"aaa", "name":"다라마", "age":32},
             {"id":"aaa", "name":"다라마", "age":42}]

    # 여러개 추가하기
    collection.insert_many(data1)
             
    print('정상수행')
except Exception as e:
    print(e)
    print('오류발생시 수행됨')
finally:
    conn.close()
    print('오류와 상관없이 수행됨')

정상수행
오류와 상관없이 수행됨

In [4]:
# mongdo에서 가져오기
# db.ex1_20210520.find({   })
data2 = collection.find({},{'_id':0})
for tmp in data2:
    print(tmp, type(tmp))

{'id': 'aaa', 'name': '가나다', 'age': 12} <class 'dict'>
{'id': 'aaa', 'name': '가다라', 'age': 22} <class 'dict'>
{'id': 'aaa', 'name': '다라마', 'age': 32} <class 'dict'>
{'id': 'aaa', 'name': '다라마', 'age': 42} <class 'dict'>

In [5]:
# 정렬해서 가져오기 나이순으로 내림차순
data3 = collection.find({},{'_id':0}).sort([("age", pymongo.DESCENDING)])
for tmp in data3:
    print(tmp, type(tmp))

{'id': 'aaa', 'name': '다라마', 'age': 42} <class 'dict'>
{'id': 'aaa', 'name': '다라마', 'age': 32} <class 'dict'>
{'id': 'aaa', 'name': '가다라', 'age': 22} <class 'dict'>
{'id': 'aaa', 'name': '가나다', 'age': 12} <class 'dict'>

In [6]:
# 정렬해서 가져오기 나이순으로 내림차순 (6개만)
data3 = collection.find({},{'_id':0}).sort([("age", pymongo.DESCENDING)]).limit(6)
for tmp in data3:
    print(tmp, type(tmp))

{'id': 'aaa', 'name': '다라마', 'age': 42} <class 'dict'>
{'id': 'aaa', 'name': '다라마', 'age': 32} <class 'dict'>
{'id': 'aaa', 'name': '가다라', 'age': 22} <class 'dict'>
{'id': 'aaa', 'name': '가나다', 'age': 12} <class 'dict'>

In [8]:
# id가 bbb인 것 가져오기
data = collection.find({'id':'bbb'},{'_id':0})
for tmp in data:
    print(tmp, type(tmp))

In [9]:
#  $eq  (equals) 주어진 값과 일치하는 값 
#  $gt  (greater than) 주어진 값보다 큰 값 
#  $gte  (greater than or equals) 주어진 값보다 크거나 같은 값 
#  $lt  (less than) 주어진 값보다 작은 값 
#  $lte  (less then or equals) 주어진 값보다 작거나 같은 값 
#  $ne  (not equlas) 주어진 값과 일치하지 않는 값 
#  $in  (in) 주어진 배열 안에 속하는 값
#  $nin  (not in) 주어진 배열 안에 속하지 않는 값 

# age가 50보다 큰것 가져오기
data = collection.find({'age':{'$gt':50}},{'_id':0})
for tmp in data:
    print(tmp, type(tmp))

In [10]:
# 조건 and
data = collection.find({'$and':[{'age':52},{'id':'fff'}]},{'_id':0})
for tmp in data:
    print(tmp, type(tmp))

In [11]:
# 조건 or
data = collection.find({'$or':[{'age':52},{'id':'aaa'}]},{'_id':0})
for tmp in data:
    print(tmp, type(tmp))

{'id': 'aaa', 'name': '가나다', 'age': 12} <class 'dict'>
{'id': 'aaa', 'name': '가다라', 'age': 22} <class 'dict'>
{'id': 'aaa', 'name': '다라마', 'age': 32} <class 'dict'>
{'id': 'aaa', 'name': '다라마', 'age': 42} <class 'dict'>

In [12]:
# 수정하기 id가 aaa인 사용자의 age를 100으로 변경 (1개만 변경됨)
data = collection.update_one({'id':'aaa'}, {'$set' : {'age':100}})
# 전체 변경
# data = collection.update_many({'id':'aaa'}, {'$set' : {'age':100}})

data = collection.find({'id':'aaa'},{'_id':0})
for tmp in data:
    print(tmp, type(tmp))

{'id': 'aaa', 'name': '가나다', 'age': 100} <class 'dict'>
{'id': 'aaa', 'name': '가다라', 'age': 22} <class 'dict'>
{'id': 'aaa', 'name': '다라마', 'age': 32} <class 'dict'>
{'id': 'aaa', 'name': '다라마', 'age': 42} <class 'dict'>

In [ ]:
# 삭제 하기 id가 aaa인 1개
data = collection.delete_one({'id':'aaa'})
# 전체 삭제
#data = collection.delete_many({'id':'aaa'})

data = collection.find({'id':'aaa'},{'_id':0})
for tmp in data:
    print(tmp, type(tmp))