In [1]:
#1 오라클 연동 라이브러리 설치하기
!pip install cx_oracle

Requirement already satisfied: cx_oracle in c:\users\admin\anaconda3\lib\site-packages (8.1.0)

In [3]:
#2 환경변수에 PATH 추가하기
import os
#path = 'C:\\instantclient_19_10' #windows 방식
#path = 'C:/instantclient_19_10'  #linux 방식
path = r'C:\instantclient_19_10' #raw

os.environ["PATH"] = path+";"+os.environ["PATH"]
os.environ["PATH"]

'C:\\instantclient_19_10;C:\\Users\\ADMIN\\anaconda3;C:\\Users\\ADMIN\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\ADMIN\\anaconda3\\Library\\usr\\bin;C:\\Users\\ADMIN\\anaconda3\\Library\\bin;C:\\Users\\ADMIN\\anaconda3\\Scripts;C:\\Users\\ADMIN\\anaconda3\\bin;C:\\Users\\ADMIN\\anaconda3\\condabin;C:\\oraclexe\\app\\oracle\\product\\11.2.0\\server\\bin;C:\\Program Files\\Common Files\\Oracle\\Java\\javapath;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0;C:\\Windows\\System32\\OpenSSH;C:\\Program Files\\Java\\jdk-11.0.9\\bin;C:\\Program Files (x86)\\Brackets\\command;C:\\Program Files\\nodejs;C:\\Program Files\\ojdkbuild\\java-11-openjdk-11.0.10-1\\bin;C:\\Program Files\\Git\\cmd;C:\\Users\\ADMIN\\anaconda3;C:\\Users\\ADMIN\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\ADMIN\\anaconda3\\Library\\usr\\bin;C:\\Users\\ADMIN\\anaconda3\\Library\\bin;C:\\Users\\ADMIN\\anaconda3\\Scripts;C:\\Program Files\\MySQL\\MySQL Shell 8.0\\bin;C:\\Users\\ADMIN\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Program Files\\Bandizip;C:\\Users\\ADMIN\\AppData\\Roaming\\npm;C:\\Users\\ADMIN\\AppData\\Local\\Programs\\Microsoft VS Code\\bin;C:\\Users\\ADMIN\\AppData\\Local\\GitHubDesktop\\bin'

In [8]:
#3 라이비르러 추가한 후 ora로 변경
import cx_Oracle as ora
#아이디/암호@서버주소:포트번호/SID
conn = ora.connect('id125/pw125@1.234.5.158:11521/xe')
conn

In [13]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM TEAM_INFO")
rows=cursor.fetchall();
rows

for i in rows:
    if len(i[0])<4:
        print(i[0],"\t",i[1],"\t",i[2],i[3])
    else:
        print(i[0],i[1],"\t",i[2],i[3])
print(type(rows))

다이노스 NC 	 창원 창원 NC파크
베어스 	 두산 	 서울 서울 종합운동장
WIZ 	 KT 	 수원 수원 KT WIZ파크
트윈스 	 LG 	 서울 서울 종합운동장
히어로즈 키움 	 서울 고척 스카이돔
타이거즈 기아 	 광주 광주-기아 챔피언스필드
자이언츠 롯데 	 부산 사직 야구장
라이온즈 삼성 	 대구 대구 삼성 라이온즈 파크
랜더스 	 SSG 	 인천 문학 야구장
이글스 	 한화 	 대전 청주종합운동장
<class 'list'>

In [11]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM TEAM_INFO")
rows=cursor.fetchall();
dictionary = {string : i for i,string in enumerate(rows)}
print(dictionary)

{('다이노스', 'NC', '창원', '창원 NC파크'): 0, ('베어스', '두산', '서울', '서울 종합운동장'): 1, ('WIZ', 'KT', '수원', '수원 KT WIZ파크'): 2, ('트윈스', 'LG', '서울', '서울 종합운동장'): 3, ('히어로즈', '키움', '서울', '고척 스카이돔'): 4, ('타이거즈', '기아', '광주', '광주-기아 챔피언스필드'): 5, ('자이언츠', '롯데', '부산', '사직 야구장'): 6, ('라이온즈', '삼성', '대구', '대구 삼성 라이온즈 파크'): 7, ('랜더스', 'SSG', '인천', '문학 야구장'): 8, ('이글스', '한화', '대전', '청주종합운동장'): 9}

In [23]:
# oracle에 자료입력
cursor = conn.cursor()
sql = """INSERT INTO TEAM_INFO(TEAM_NAME,TEAM_SPONSER,TEAM_CITY,TEAM_PLAYGROUND) VALUES(:1, :2, :3, :4)"""

arr=['워리어스','현대','제주','전쟁기념관']
cursor.execute(sql,arr)
conn.commit()

cursor.execute("SELECT * FROM TEAM_INFO WHERE TEAM_NAME='워리어스')
rows=cursor.fetchall();
rows

In [24]:
# row data 수정
cursor = conn.cursor()
sql = """UPDATE TEAM_INFO SET TEAM_PLAYGROUND='벡스코' WHERE TEAM_NAME='워리어스'"""


cursor.execute(sql)
conn.commit()

In [6]:
# row지우기
cursor = conn.cursor()
sql = """DELETE FROM TEAM_INFO WHERE TEAM_NAME='워리어스'"""

cursor.execute(sql)
conn.commit()

cursor.execute("SELECT * FROM TEAM_INFO")
rows=cursor.fetchall();
rows
print(type(rows))

TypeError: 'Database' object is not callable. If you meant to call the 'cursor' method on a 'MongoClient' object it is failing because no such method exists.

In [1]:
# mangoDB를 사용하기 위한 라이브러리
! pip install pymongo

Collecting pymongo
  Downloading pymongo-3.11.4-cp38-cp38-win_amd64.whl (383 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.11.4

In [2]:
import pymongo

username = "id125"
password = "pw125"
host = "1.234.5.158"
port = 37017
dbname = "id125"

# conn = pymongo.MongoClient(f"mongodb://{host}:{port}") 
conn= pymongo.MongoClient(f'mongodb://{username}:{password}@{host}:{port}/{dbname}')

db = conn.get_database(dbname) #db선택
collection = db.get_collection("member") #collection == table과 비슷함
dic1 = {"id":"pyid", "pw":"aaa","name":'abc', "age":33} #딕셔너리 생성

# mongodb에 추가
collection.insert_one(dic1)

conn.close()

In [5]:
dic1 = {"id":"pyid2", "pw":"bbb", "age":34, "bloodType":"A"}
collection.insert_one(dic1)
conn.close()